<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Contraventions</title>
</head>
<body>
    <h1>Recherche de Contraventions</h1>
    <form action="/search" method="post">
        <label for="etablissement">Nom d'établissement :</label>
        <input type="text" id="etablissement" name="etablissement"><br><br>

        <label for="proprietaire">Propriétaire :</label>
        <input type="text" id="proprietaire" name="proprietaire"><br><br>

        <label for="rue">Rue :</label>
        <input type="text" id="rue" name="rue"><br><br>

        <button type="submit">Rechercher</button>
    </form>
</body>
</html>